body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chessboard {
  position: relative;
  width: 250px;
  height: 250px;
  border: 3px solid rgb(107, 136, 139);
}

.cell1 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #000;
}
.cell2 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 50px;
  background-color: #4d474777;
}
.cell3 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 100px;
  background-color: #000;
}
.cell4 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 150px;
  background-color: #4d474777;
}
.cell5 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 200px;
  background-color: #000;
}
.cell6 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50px;
  left: 0;
  background-color: #4d474777;
}
.cell7 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50px;
  left: 50px;
  background-color: #000;
}
.cell8 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50px;
  left: 100px;
  background-color: #4d474777;
}
.cell9 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50px;
  left: 150px;
  background-color: #000;
}
.cell10 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50px;
  left: 200px;
  background-color: #4d474777;
}
.cell11 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 0;
  background-color: #000;
}
.cell12 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 50px;
  background-color: #4d474777;
}
.cell13 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 100px;
  background-color: #000;
}
.cell14 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 150px;
  background-color: #4d474777;
}
.cell15 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 200px;
  background-color: #000;
}
.cell16 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 150px;
  left: 0;
  background-color: #4d474777;
}
.cell17 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 150px;
  left: 50px;
  background-color: #000;
}
.cell18 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 150px;
  left: 100px;
  background-color: #4d474777;
}
.cell19 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 150px;
  left: 150px;
  background-color: #000;
}
.cell20 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 150px;
  left: 200px;
  background-color: #4d474777;
}
.cell21 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 200px;
  left: 0;
  background-color: #000;
}
.cell22 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 200px;
  left: 50px;
  background-color: #4d474777;
}
.cell23 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 200px;
  left: 100px;
  background-color: #000;
}
.cell24 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 200px;
  left: 150px;
  background-color: #4d474777;
}
.cell25 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 200px;
  left: 200px;
  background-color: #000;
}
