body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
}

.square {
  width: 15px;
  height: 15px;
  background-color: rgb(212, 34, 34);
  margin: 1px;
}
.distance1 {
  margin-right: 51px;
}
.distance2 {
  margin-right: 19px;
}
